<!DOCTYPE html>
<html>
<head>
  <title>Qiitedly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main">
    <div class="header cf">
      <div style="display: inline-block; width: 280px;">
        <%= link_to image_tag(asset_path('qiitedly.png')), root_path %>
      </div>
      <div style="display: inline-block; width: 300px;">
        毎日楽しくプログラミングをしよう！
        <br>
        あなたのQiitaデータから会社をオススメします
      </div>
    </div>
    <div>
      <%= yield %>
    </div>
    <div class="footer">
      Powered by <%= link_to 'Qiita', 'http://qiita.com' %> &amp; <%= link_to 'Wantedly', 'https://www.wantedly.com' %>
      |
      We &lt;3 code!
    </div>
  </div>
</body>
</html>
